<%- include('header'); -%>

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2_m9fK_QiSL8MvY6Q0EMXfTlJDCSkqCKd9qDWQpj2ds9_8AplbAIorYZzatOOL6cz1Cg&usqp=CAU" id="icon" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="email">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="button" class="fadeIn fourth" value="Log In" onclick="checkIsConducteur()">

        <a href="conducteurSignUp.ejs" class="badge badge-dark">cree une compte</a>
      </form>

    </div>
  </div>

<%- include('footer'); -%>